Repository skripkaru/es-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn lint:css, yarn format

clear project
  .postcssrc
  .storybook/preview.js
  package.json
  src/favicon.ico
  src/index.html
  src/main.js
  src/main.scss
  src/scripts/main.js
  src/stories/accordion/initAccordion.js
  src/stories/header/initHeader.js
  src/stories/menu/initMenu.js
  src/stories/modal/initModal.js
  src/stories/select/initSelect.js
  src/stories/slider/initSlider.js
  src/stories/tabs/initTabs.js
  src/stories/uploader/initUploader.js
  src/stories/video/initVideo.js
  src/styles/config/fonts.scss
  src/styles/config/globals.scss
  src/styles/config/typography.scss
  src/styles/config/variables.scss
  src/styles/main.scss
  webpack.common.js
  webpack.config.js
  webpack.dev.js
  webpack.prod.js
  yarn.lock
Due: yarn lint, yarn lint:css, yarn format

update typography
  src/main.scss
  src/stories/text/Text.js
  src/stories/text/text.scss
  src/stories/title/Title.js
  src/stories/title/title.scss
Due: yarn lint, yarn lint:css, yarn format

add page header
  src/stories/input/input.scss
  src/stories/pageHeader/PageHeader.stories.js
  src/stories/pageHeader/page-header.scss
  src/stories/pageHeader/pageHeader.js
  src/stories/textarea/textarea.scss
Due: yarn lint, yarn lint:css, yarn format

feat: add custom select
  src/main.js
  src/stories/customSelect/CustomSelect.js
  src/stories/customSelect/CustomSelect.stories.js
  src/stories/customSelect/custom-select.scss
  src/stories/customSelect/initCustomSelect.js
  src/stories/header/initHeader.js
  src/stories/menu/initMenu.js
  src/stories/modal/initModal.js
  src/stories/textarea/textarea.scss
  yarn.lock
Due: yarn lint, yarn lint:css, yarn format

format
  src/stories/Colors.mdx
Due: none

update storybook
  package.json
  src/main.scss
  src/stories/accordion/accordion.scss
  src/stories/breadcrumbs/breadcrumbs.scss
  src/stories/button/button.scss
  src/stories/card/card.scss
  src/stories/checkbox/checkbox.scss
  src/stories/input/input.scss
  src/stories/link/link.scss
  src/stories/menu/menu.scss
  src/stories/pagination/pagination.scss
  src/stories/radio/radio.scss
  src/stories/select/select.scss
  src/stories/stepper/stepper.scss
  src/stories/switch/switch.scss
  src/stories/tabs/tabs.scss
  src/stories/textarea/textarea.scss
  src/stories/video/video.scss
  yarn.lock
Due: yarn lint:css, yarn format

migrations
  .storybook/main.js
  package.json
  yarn.lock
Due: yarn lint, yarn format

update
  src/main.scss
  src/stories/Colors.mdx
  src/stories/badge/badge.js
  src/stories/badge/badge.scss
  src/stories/badge/badge.stories.js
  src/stories/tabs/tabs.js
  src/stories/tabs/tabs.scss
  src/stories/tag/tag.scss
  src/stories/video/video.stories.js
Due: yarn lint, yarn lint:css, yarn format

update colors & tag & select
  src/stories/Colors.mdx
  src/stories/select/select.scss
  src/stories/tag/tag.js
  src/stories/tag/tag.scss
  src/stories/tag/tag.stories.js
Due: yarn lint, yarn lint:css, yarn format

update inputs
  package.json
  src/assets/icons/copy.svg
  src/assets/icons/minus.svg
  src/assets/icons/search.svg
  src/main.js
  src/main.scss
  src/stories/input/input.js
  src/stories/input/input.scss
  src/stories/input/input.stories.js
  src/stories/inputNumber/input-number.scss
  src/stories/inputNumber/inputNumber.js
  src/stories/inputRange/input-range.scss
  src/stories/inputRange/inputRange.js
  src/stories/inputRange/inputRange.stories.js
  src/stories/modal/modal.js
  yarn.lock
Due: yarn lint, yarn lint:css, yarn format

added switcher
  src/stories/switcher/switcher.js
  src/stories/switcher/switcher.scss
  src/stories/switcher/switcher.stories.js
Due: yarn lint, yarn lint:css, yarn format

added message
  package.json
  src/assets/icons/info-circle.svg
  src/main.js
  src/stories/alert/alert.js
  src/stories/alert/alert.scss
  src/stories/alert/alert.stories.js
  src/stories/message/message.js
  src/stories/message/message.scss
  src/stories/message/message.stories.js
  src/stories/modal/modal.js
  src/stories/modal/modal.scss
  yarn.lock
Due: yarn lint, yarn lint:css, yarn format

updated message
  src/stories/message/message.js
  src/stories/message/message.scss
  src/stories/modal/modal.scss
Due: yarn lint, yarn lint:css, yarn format

added tooltip
  package.json
  src/main.js
  src/stories/tooltip/tooltip.js
  src/stories/tooltip/tooltip.scss
  src/stories/tooltip/tooltip.stories.js
  yarn.lock
Due: yarn lint, yarn lint:css, yarn format

update button
  src/stories/button/button.js
  src/stories/button/button.scss
  src/stories/button/button.stories.js
Due: yarn lint, yarn lint:css, yarn format

added dropdown & updated tooltip
  src/main.js
  src/stories/button/button.scss
  src/stories/button/button.stories.js
  src/stories/dropdown/dropdown.js
  src/stories/dropdown/dropdown.scss
  src/stories/dropdown/dropdown.stories.js
  src/stories/tooltip/tooltip.js
  src/stories/tooltip/tooltip.scss
  src/stories/tooltip/tooltip.stories.js
Due: yarn lint, yarn lint:css, yarn format

fixed inputRange
  src/stories/inputRange/inputRange.js
Due: yarn lint, yarn format

updated card & added productCard
  src/stories/card/card.js
  src/stories/card/card.scss
  src/stories/inputNumber/inputNumber.js
  src/stories/productCard/product-card.scss
  src/stories/productCard/productCard.js
  src/stories/productCard/productCard.stories.js
Due: yarn lint, yarn lint:css, yarn format

added loading
  src/assets/icons/loading.svg
  src/stories/loading/loading.js
  src/stories/loading/loading.scss
  src/stories/loading/loading.stories.js
Due: yarn lint, yarn lint:css, yarn format

added inputTel
  package.json
  src/main.js
  src/stories/inputTel/inputTel.js
  src/stories/inputTel/inputTel.stories.js
  yarn.lock
Due: yarn lint, yarn format

added space
  src/stories/space/space.js
  src/stories/space/space.scss
  src/stories/space/space.stories.js
  src/stories/title/title.stories.js
Due: yarn lint, yarn lint:css, yarn format

Path conditions:
  yarn lint: any of: *.js
  yarn lint:css: any of: *.scss
  yarn format: any of: *.{js,scss,html,json,md}
